.body {
    
    margin: 20px;
    color: black
}
body {
    background: url('photo-1486312338219-ce68d2c6f44d.avif');
    background-size: cover; 
    height: 100vh; 
    background-position: center;
}
@keyframes header{
    from {
        left: 0%
    }
    to {
        left: 35%
    }
}
#home_header {
    position: relative;
    animation-name:header;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-family: Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
   
}
.slogan {
    text-align: center;
    font-size: 30px;
    font-family: Georgia,'Times New Roman', Times, serif;
    
}

.card_container{
    transition: all 0.3s ease;
}

.card_container:hover{
    transform: scale(1.10)
}

#font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.size {
    font-size: 20px;
}
.spacing{
    padding: 10px;
}

.padding {
    padding: 10px
}

.width {
    position: absolute; right: 0; width: 1410px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
