{% extends 'Builder/layout.html' %}

{% block body %}
    <div class="body">
        <div id="home_header">Create A professional CV</div>
        <div class="slogan">Each resume template is designed to follow the exact rules you need to get hired faster.</div>

    <p><div id="home_header" style="animation-play-state: paused;">All Templates</div></p>

<div class="row">
    <div class="col-md-2">
        <div class="card text-white bg-dark mb-3 card_container" style="max-width: 18rem;">
            <div class="card-header">Software Engineer</div>
            <div class="card-body">
                <h5 class="card-title">Senior</h5>
                <p class="card-text">A Senior Software Engineer CV template emphasizes technical leadership, advanced programming skills, and project management experience. Key sections include a professional summary, technical skills, leadership roles, project achievements, work experience in reverse chronological order, and education. The template highlights contributions to large-scale projects, mentorship, and expertise in technologies, with a focus on problem-solving and innovative solutions.</p>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card text-white bg-dark mb-3 card_container" style="max-width: 18rem;">
            <div class="card-header">Software Engineer</div>
            <div class="card-body">
                <h5 class="card-title">Senior</h5>
                <p class="card-text">A Senior Software Engineer CV template emphasizes technical leadership, advanced programming skills, and project management experience. Key sections include a professional summary, technical skills, leadership roles, project achievements, work experience in reverse chronological order, and education. The template highlights contributions to large-scale projects, mentorship, and expertise in technologies, with a focus on problem-solving and innovative solutions.</p>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card text-white bg-dark mb-3 card_container" style="max-width: 18rem;">
            <div class="card-header">Software Engineer</div>
            <div class="card-body">
                <h5 class="card-title">Senior</h5>
                <p class="card-text">A Senior Software Engineer CV template emphasizes technical leadership, advanced programming skills, and project management experience. Key sections include a professional summary, technical skills, leadership roles, project achievements, work experience in reverse chronological order, and education. The template highlights contributions to large-scale projects, mentorship, and expertise in technologies, with a focus on problem-solving and innovative solutions.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}