{% extends 'Builder/layout.html' %}

{% block body %}

    <div class="body">
        <div id="home_header">Create A professional CV</div>
        <div class="slogan">Each resume template is designed to follow the exact rules you need to get hired faster.</div>
        

    <p><div id="home_header" style="animation-play-state: paused;">All Templates</div></p>

<div class="row">
    <div class="col-md-2">
        <a href ="{% url 'template' 'senior' %}" style="text-decoration: none;"><div class="card text-white bg-dark mb-3 card_container" style="max-width: 18rem;">
            <div class="card-header">Software Engineer</div>
            <div class="card-body">
                <h5 class="card-title">Senior</h5>
                <p class="card-text">A Senior Software Engineer CV template emphasizes technical leadership, advanced programming skills, and project management experience. Key sections include a professional summary, technical skills, leadership roles, project achievements, work experience in reverse chronological order, and education. The template highlights contributions to large-scale projects, mentorship, and expertise in technologies, with a focus on problem-solving and innovative solutions.</p>
            </div>
        </div></a>
    </div>

    <div class="col-md-2">
        <a href ="{% url 'template' 'junior' %}" style="text-decoration: none;"><div class="card text-white bg-dark mb-3 card_container" style="max-width: 18rem;">
            <div class="card-header">Software Engineer</div>
            <div class="card-body">
                <h5 class="card-title">Junior</h5>
                <p class="card-text">A Junior Engineer CV template emphasizes foundational engineering skills, practical experience, and a willingness to learn. Key sections include a professional summary, technical skills, educational background, internships, and relevant projects. The template highlights contributions to academic projects, collaboration in team environments, and proficiency in essential technologies, focusing on adaptability and a strong desire for growth in the engineering field.</p>
            </div>
        </div></a>
    </div>

</div>


{% endblock %}