{% extends 'Builder/layout.html' %}
{% load static %}
{% block title %}
    Junior Developer Template
{% endblock %}
{% block body %}
{% block style %}
<style>
    body{
        background: white;
    }
</style>
{% endblock %}

<div class="padding">
    <div id="font">
        <h1 style="text-align: center;" class="change">Your Name</h1>
        <h3 style="text-align: center;">Junior Software Engineer</h3>
        <button class="btn btn-dark save" style="display: none; position: relative; right: 0;">Save</button>
        <hr style="border: 3px solid"></hr>
        
        <div class="icons">
            <i class="fa-solid fa-location-dot fa-2x spacing"></i> <label class="size change">City, Country</label>
            <i class="fa-solid fa-phone fa-2x spacing"></i> <label class="size change">Phone Number</label>
            <i class="fa-solid fa-envelope fa-2x spacing"></i> <label class="size change">Email</label>
            <i class="fa-brands fa-linkedin fa-2x spacing"></i> <label class="size change">LinkedIn</label>
            <i class="fa-brands fa-github fa-2x spacing"></i> <label class="size change">GitHub</label>
        </div>

        <h1>Activities</h1>
        <hr style="border: 1px solid grey"></hr>
        <ul>
            <li><b>Leetcode:</b> <p>Solved <i class="change">Num</i> Problems (Easy: <i class="change">Num</i>, Medium: <i class="change">Num</i>, Hard: <i class="change">Num</i>)</p></li>
            <li><b>CodeForces:</b> <p>Solved <i class="change">Num</i> Problems</p></li>
        </ul>

        <h1>Technical Skills</h1>
        <hr style="border: 1px solid grey"></hr>
        <ul>
            <li><b>Programming:</b> <p><i class="change">Programming Language(s) (e.g. C#)</i></p></li>
            <li><b>Frameworks:</b> <p><i class="change">Framework(s) (e.g. Django)</i></p></li>
            <li><b>Operating Systems:</b> <p><i class="change">Operating System(s) (e.g. Windows)</i></p></li>
            <li><b>Databases:</b> <p><i class="change">Databases (e.g. PostgreSQL)</i></p></li>
            <li><b>Tools:</b> <p><i class="change">Tool (e.g. Git, Docker)</i></p></li>
        </ul>

        <h1>Projects</h1>
        <hr style="border: 1px solid grey"></hr>
        <ul>
            <li><b>Project Name 1:</b> <p><i class="change">Brief description, key technologies used.</i></p></li>
            <li><b>Project Name 2:</b> <p><i class="change">Brief description, key technologies used.</i></p></li>
            <li><b>Project Name 3:</b> <p><i class="change">Brief description, key technologies used.</i></p></li>
        </ul>

        <h1>Education</h1>
        <hr style="border: 1px solid grey"></hr>
        <ul>
            <li><b>University Name:</b> <p><i class="change">Degree, Year of Graduation</i></p></li>
            <li><b>Relevant Courses:</b> <p><i class="change">Course Name 1, Course Name 2</i></p></li>
        </ul>

        <p><button class="btn btn-dark edit">Edit</button></p>
        <button class="btn btn-dark download" style="display: none;">PDF</button>
    </div>

{% block script %}
    <script src="{% static 'builder/cv.js' %}"></script>
{% endblock %}
{% endblock %}
