{% extends 'Builder/layout.html' %}
{% load static %}
{% block title %}
    Senior Developer Template
{% endblock %}
{% block body %}
    {% block style %}
    <style>
        body{
            background: white;
        }
    </style>
    {% endblock %}
 


    <div class="padding">
        <div id="font">
            <h1 style="text-align: center;" class="change">Your Name</h1>
            <h3 style="text-align: center;">Senior Software Engineer</h3>
            <button class="btn btn-dark save" style="display: none; position: relative; right: 0;">Save</button>
            <hr style="border: 3px solid"></hr>
            <div class="icons">
                <i class="fa-solid fa-location-dot fa-2x spacing"></i> <label class="size change">City, Country</label>
                <i class="fa-solid fa-phone fa-2x spacing"></i><label class="size change">Phone Number</label>
                <i class="fa-solid fa-envelope fa-2x spacing"></i><label class="size change">Email</label>
                <i class="fa-brands fa-linkedin fa-2x spacing"></i><label class="size change">LinkedIn</label>
                <i class="fa-brands fa-github fa-2x spacing"></i><label class="size change">GitHub</label>
            </div>

            <h1>Professional Experience</h1>
            <hr style="border: 1px solid grey"></hr>
            <ul>
                <li><b>Lead Developer, Company</b>
                    <p>Managed team and optimized code for major projects.</p>
                </li>
                <li><b>Senior Developer, Previous Company</b>
                    <p>Designed scalable systems, mentored juniors, ensured code quality.</p>
                </li>
            </ul>

            <h1>Technical Skills</h1>
            <hr style="border: 1px solid grey"></hr>
            <ul>
                <li><b>Programming:</b> <p>Python, Java, C++</p></li>
                <li><b>Frameworks:</b> <p>Django, Spring, React</p></li>
                <li><b>Cloud Platforms:</b> <p>AWS, Google Cloud</p></li>
                <li><b>Databases:</b> <p>PostgreSQL, MongoDB</p></li>
                <li><b>Tools:</b> <p>Docker, Jenkins</p></li>
            </ul>

            <h1>Projects</h1>
            <hr style="border: 1px solid grey"></hr>
            <ul>
                <li><b>Project 1</b>
                    <p>Developed microservices, improving scalability by 30%.</p>
                </li>
                <li><b>Project 2</b>
                    <p>Built cloud platform, reduced infrastructure costs by 20%.</p>
                </li>
                <li><b>Project 3</b>
                    <p>Developed high-performance web app with 99.9% uptime.</p>
                </li>
            </ul>

            <h1>Education</h1>
            <hr style="border: 1px solid grey"></hr>
            <ul>
                <li><b>University Name</b>
                    <p>B.Sc. in Computer Science, Graduation Year</p>
                </li>
                <li><b>Relevant Courses:</b> <p>Algorithms, Distributed Systems</p></li>
            </ul>

            <p><button class="btn btn-dark edit">Edit</button></p>
            <button class="btn btn-dark download" style="display: none;">PDF</button>
        </div>

    {% block script %}
        <script src="{% static 'builder/cv.js' %}"></script>
    {% endblock %}
    {% endblock %}
