{% extends 'Builder/layout.html' %}
{% block title %}
    Senior Developer Template 
{% endblock %}
{% block body %}
    <div class="padding">
    <div id="font">
    <h1 style="text-align: center;">Your Name</h1>
    <h3 style="text-align: center;">Junior Software Engineer</h3>
    <hr style="border: 3px solid"></hr>
    <div class="icons">
        <i class="fa-solid fa-location-dot fa-2x spacing"></i> <span class="size">City, Country</span>&nbsp&nbsp
        <i class="fa-solid fa-phone fa-2x spacing"></i><span class="size">Phone Number</span>
        <i class="fa-solid fa-envelope fa-2x spacing"></i><span class="size">Email</span>
        <i class="fa-brands fa-linkedin fa-2x spacing"></i><span class="size">LinkedIn</span>
        <i class="fa-brands fa-github fa-2x spacing"></i><span class="size">GitHub</span>
    </div>

    <p><h1>Activities</h1></p>
    <hr style="border: 1px solid grey"></hr>
    <div class="size" style="position: relative;"><b>Leetcode</b> <span style="position: absolute; right: 750px;"><b>Solved Num Problems</b> (Num Easy, Num Medium, Num Hard)</span></div>
    <div class="size" style="position: relative;"><b>CodeForces</b> <span style="position: absolute; right: 1100px;"><b>Solved Num Problems</b></span></div>
</div>

{% endblock %}